@(user: User, categorys:List[Category],  carts: List[CartItem])

@javascript =  {<script type="text/javascript" src="@routes.Assets.at("javascripts/cart.js")"></script> }
@main(user.username+"的购物车")(sys_case(user))(javascript) {
        
<div class="container">
		<div class="row">
			<div class="span3">
				@if(user != null) {
					<div id="cartView" class="well">
					@views.html.cart.view(user.cart)
					</div>
				}
				<div class="well">
					@views.html.tab(categorys, "No")
				</div>
			</div>

			<div id="cartConsole" class="span9">
				@views.html.cart.order(carts)
			</div>
		</div>
	</div>
}
