@(user: User, id: Long, bookFrom: Form[Book])

@javascript =  {<script type="text/javascript" src="@routes.Assets.at("javascripts/home.js")"></script> }

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("后台管理 - - 图书")(sys_case(user))(javascript) {
<div class="container">
  <div class="row"><div class="span11">
    <h1>编辑图书信息</h1>
    @form(routes.Books.update(id)) {
        <fieldset>
            @inputText(bookFrom("id"), '_label -> "ID", 'disabled->"", 'class -> "uneditable-input")
            @inputText(bookFrom("title"), '_label -> "书名")
            @inputText(bookFrom("author"), '_label -> "作者")
            @inputText(bookFrom("publisher"), '_label -> "出版社")
            @inputText(bookFrom("isbn"), '_label -> "ISBN")
            @inputText(bookFrom("price"), '_label -> "价格")
            @inputDate(bookFrom("pubtime"), '_label -> "出版日期")
            @inputText(bookFrom("pages"), '_label -> "页数")
            @textarea(bookFrom("summary"), '_label -> "简介", 'rows -> 4 , 'class -> "input-xxlarge")
            @inputText(bookFrom("score"), '_label -> "豆瓣评分", 'type->"number")
            @inputText(bookFrom("stock"), '_label -> "库存", 'type->"number")
            @inputText(bookFrom("imgPath"), '_label -> "图片路径")
            @inputText(bookFrom("sales"), '_label -> "销量", 'class -> "uneditable-input", 'type -> "text")
            @select(
                bookFrom("category.num"), 
                options(Category.options), 
                '_label -> "分类", '_default -> "-- 选择图书分类 --",
                '_showConstraints -> false
            )
        </fieldset>
        
        <div>
            <input type="submit" value="保存信息" class="btn btn-primary"> or 
            <a href="@routes.Books.list()" class="btn btn-inverse">返回</a> 
        </div>
    }
	@form(routes.Books.delete(id), 'class -> "topRight") {
		 <input type="submit" value="删除图书" class="btn btn-danger">
	 }
    
  </div></div>
</div>
}
