@(user:User)

@index(user){
<div class="span9">
	<div class="widget">
		<h3 class="page-title form-actions">
			<i class="icon-th-large"></i> 用户个人信息
		</h3>
		<form id="updateInfo" class="form-horizontal" action=@routes.Users.updateInfo method="POST">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="username">用户名：</label>
					<div class="controls">
						<input type="text" class="input-medium" value=@user.username disabled>
						<p class="help-block">用户名是为登录而用，不能修改.</p>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="phone">手机：</label>
					<div class="controls">
						<input type="tel" class="input-medium" name="info_phone"
							value=@user.phone>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="email">邮箱：</label>
					<div class="controls">
						<input type="email" class="input-large" name="info_email" value=@user.email>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="role">角色：</label>
					<div class="controls">
						<input type="text" class="input-medium" value=@user.role disabled>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="regtime">注册时间：</label>
					<div class="controls">
						<input type="text" class="input-large" value="@user.regtime" disabled>
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-primary">保存</button>
					<input type="reset" class="btn" value="取消"></input>
				</div>
			</fieldset>
		</form>
	</div>
</div>
}