@(message: String, user: User,categorys:List[Category],  books: List[Book])

@javascript =  {<script type="text/javascript" src="@routes.Assets.at("javascripts/home.js")"></script> }
@main(message)(sys_case(user))(javascript) {
        
<div class="container">
		<div class="row">
			<div class="span3">
				@if(user != null) {
					<div id="usercart" class="well">
					@views.html.cart.view(user.cart)
					</div>
				}
				<div class="well">
					@views.html.tab(categorys, "No")
				</div>
			</div>

			<div class="span9">
				<div id="myCarousel" class="carousel slide">
					<ol class="carousel-indicators">
					  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
					  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner">
					  <div class="item active">
						<img src="@routes.Assets.at("img/1.png")" alt="">
					  </div>
					  <div class="item">
						<img src="@routes.Assets.at("img/2.jpg")" alt="">
					  </div>
					  <div class="item">
						<img src="@routes.Assets.at("img/3.png")" alt="">
					  </div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
				</div>
				<ul class="thumbnails">
					@views.html.book.books(books)
				</ul>

			</div>
		</div>
	</div>
	
<div id="bookModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  style="top:38%;">
  <div class="modal-body text-center">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <p>请稍候...</p>
    <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
}
