@(form: Form[Application.Login])(rform: Form[Application.Register] )

@usermanage = { }
@javascript = {<script type="text/javascript" src="@routes.Assets.at("javascripts/login.js")"></script> }
@main(" 登录/注册页面")(usermanage)(javascript){
<div class="container" style="width:333px">
	<div class="bs-example bs-example-tabs well">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#login" data-toggle="tab"> 登 录 </a></li>
        <li class=""><a href="#register" data-toggle="tab"> 注 册 </a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="login">
			@helper.form(routes.Application.authenticate) {
				<h4>Sign in</h4>
				@if(form.hasGlobalErrors) {
					<div class="login_sign alert alert-error">
						<span>@form.globalError.message</span>
					</div>
				}
				@if(flash.contains("success")) {
				    <p class="login_sign success">
				        @flash.get("success")
				    </p>
				}
				<div>
					<input style="width:92%" id="username" name="username" type="text" placeholder="请输入用户名" required autofocus>
					<input style="width:92%" id="password" name="password" type="password" placeholder="请输入密码***" required>
					<label class="checkbox inline">
						<input type="checkbox" id="RememberMe" value="remember-me"> 下次自动登录
					</label>
					<br><br>
					<button type="submit" class="btn btn-success btn-block">登录</button>
				</div>
				<br>
				<a href="#">注册</a>&nbsp;|&nbsp;<a href="#">忘记密码?</a>
			}		
        </div>
        <div class="tab-pane fade" id="register">
        @helper.form(action=routes.Application.registerUser, 'id -> "register_form") {
				<h4>注册页面</h4>
					@if(rform.hasGlobalErrors) {
					<div class="login_sign alert alert-error">
						<span>@rform.globalError.message</span>
					</div> }
				<div>
					<p>
						<label for="username">用户名 <span class="stars">*</span> <span class="text-error"></span></label>
						<input style="width:92%"  type="text" name="username" id="username" class="validate text" size="40" required autofocus/>
					</p>
					<p>
						<label for="password">密码 <span class="stars">*</span> <span class="text-error"></span></label>
						<input style="width:92%"  type="password" name="password" id="password" class="validate pwd" size="16" />
					</p>
					<p>
						<label for="password_repeat">确认密码 <span class="stars">*</span> <span class="text-error"></span></label>
						<input style="width:92%"  type="password" name="password_repeat" id="password_repeat" class="validate pwd" size="16" />
					</p>
					<p>
						<label for="email">个人邮箱 <span class="stars">*</span> <span class="text-error"></span></label>
						<input style="width:92%"  type="email" name="email" id="email" class="validate email" size="40" />
					</p>
					<button id="_process"  type="submit" class="btn btn-success btn-block">立即注册</button>
				</div>
			}
        </div>
      </div>
    </div>
    </div>
}