@(title: String)(sys: Html)(javascript: Html)(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>@title -- nkkn网上书城</title>

	<!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap.min.css")" />
	<link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap-responsive.min.css")" />
	
	<!-- Includes FontAwesome -->
	<link rel="stylesheet" href="@routes.Assets.at("css/font-awesome/css/font-awesome.min.css")" />

	<!-- Css -->	
	<link rel="stylesheet" href="@routes.Assets.at("css/style.css")" />
	
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/">nkkn网上书城</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="/">首页&nbsp;<i class="icon-home"></i></a></li>
						<li class=""><a href="#top">榜单</a></li>
						<li class=""><a href="#review">书评</a></li>
						<li class=""><a href=@routes.Application.help>帮助</a></li>
					</ul>
					@helper.form(action=routes.Books.search(), 'class -> "navbar-form form-search pull-left") {
						<div class="input-append">
						  <input class="search-query span3" name="wd" type="text" placeholder="书名、作者、ISBN" class="input-xlarge search-query">
						  <button class="btn" type="submit"><i class="icon-search"></i></button>
						</div>
					}
					<ul class="nav pull-right">
					@sys
                    </ul>
				</div>
			</div>
		</div>
	</div>
	
	@content
	
	<hr />

	<footer id="footer" class="vspace20">
		<div class="container">
			<div class="row">
				<div class="span6">
					<p>&copy; Copyright 2014 .&nbsp;<a href="http://blog.cshwen.com">CShWen</a>&nbsp;&amp;&nbsp;. <a href="#">All Rights Reserved</a></p>
				</div>
				<div class="span6">
					<a class="pull-right" href="https://github.com/CShWen/nkkn" target="_blank">项目源代码</a>
				</div>
			</div>
		</div>
	</footer>	

	<script src="@routes.Assets.at("javascripts/jquery-1.10.0.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
	@javascript
	<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap/js/bootstrap.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/holder.js")"></script>
	<script src="@routes.Assets.at("javascripts/script.js")"></script>
</body>
</html>