@(page:Integer, pages:List[Integer], tab_sign:String)

<div class="pagination pagination-large pagination-centered">
	<ul>
		<li @if(page-1<0 ) {class="disabled"}><a href="@routes.Application.tab(tab_sign, page-1)"><span>上一页</span></a></li>
@pages.map { pg =>
<li @if(page ==pg ) {class="disabled"}><a href="@routes.Application.tab(tab_sign, pg)">@{pg+1}</a></li>
}
		<li @{var gins=false;var shuchu="";
			for(pg<-pages){
			if(page+1==pg) 
			gins=true;
			}
			if(gins==false)
				shuchu="class=disabled";
			shuchu
			 }>
		<a href="@routes.Application.tab(tab_sign, page+1)"><span>下一页</span></a></li>
	</ul>
</div>