@(user: User)

@if(user == null) {
<li><a href="@routes.Application.login">登陆/注册</a></li>
} else { 
@user.role.name match { 
  case "系统管理员" => {
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理<b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li><a href="@routes.Books.list()">图书管理</a></li>
		<li><a href="index.html">图书分类管理</a></li>
		<li><a href="@routes.Comments.list()">评论管理</a></li>
		<li><a href="@routes.Orderofs.list()">订单管理</a></li>
		<li><a href="@routes.Users.list()">用户管理</a></li>
	</ul>
</li>
<li class="divider-vertical"></li>
<li><a href="@routes.Users.info">@user.username </a></li>
<li><a href="@routes.Application.logout">退出</a></li>
  }
  case "运营管理员" => {
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理<b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li><a href="@routes.Books.list()">图书管理</a></li>
		<li><a href="index.html">图书分类管理</a></li>
		<li><a href="@routes.Comments.list()">评论管理</a></li>
		<li><a href="@routes.Orderofs.list()">订单管理</a></li>
	</ul>
</li>
<li class="divider-vertical"></li>
<li><a href="@routes.Users.info">@user.username </a></li>
<li><a href="@routes.Application.logout">退出</a></li>
  }
  case "普通用户" => {
<li class="divider-vertical"></li>
<li><a href="@routes.Users.info">@user.username </a></li>
<li><a href="@routes.Application.logout">退出</a></li>
  }
}

}
